@use "variables" as *;

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: center;

    .content {
        max-width: 540px;
        margin: 0 auto;
        padding: 50px 30px;
        width: 100%;
    }

    p {
        margin: 0 0 4.8rem;
    }

    .image {
        display: none;
        width: 100%;
        
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (min-width:$lg) {
    .container {
        .image {
            display: block;
        }

        .content {
            padding: 100px 80px;
            max-width: none;
        }
    }
}

@media (min-width:$xl) {
    main {
        .container {
            .content {
                padding-top: 150px;
                padding-bottom: 150px;
            }
        }
    }
}