@use 'variables' as *;
@use "style" as *;


main {
    background-color: $white-bg;
    padding: $space;
    margin: 2rem 0;

    h4 {
        font-weight: bold;
        font-size: 2rem;
        margin: 0;
    }

    a {
        color: $red-orange;
        text-decoration: underline;
    }

    li {
        font-size: 1.6rem;
        line-height: 1.5;
    }

    p:first-child {
        margin-top: 0;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}