@use 'variables' as *;
@use "style" as *;

body {
    background-color: white;

    main {
        width: 66%;
        margin: 10rem auto;
        max-width: 450px;
        min-width: 250px;
        text-align: center;

        div {
            margin-bottom: 10rem;
            padding: 2rem;
            background-color: $red-button;
            color: white;

        }

        .massage-btn{
            margin: 0;
        }
    }
}