@use 'variables' as *;
@use "style" as *;


main{
    background-color: $white-bg;
    padding: $space;
    article{
        margin: 2rem 0;
        h4{
            font-weight: bold;
            font-size: 3rem;
            margin: 0;
        }
        p:first-child{
            margin-top: 0;
        }
        p:last-of-type{
            margin-bottom: 0;
        }
    }
}