//general style sheet
@use "variables" as *;
@use "mixins" as *;
@use "menu" as *;
@use "footer" as *;


@font-face {
    font-family: butler-ultra-light;
    src: url("../fonts/Butler_Ultra_Light.otf");
    font-display: swap;
}

$butler-ul:"butler-ultra-light", "Times New Roman", Times, serif;


@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: normal;
    font-display: swap;
}

$montserat:"Montserrat", sans-serif, "Times New Roman", Times, serif;

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    /* 1rem = 10px */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $white-bg;
    font-family: $montserat;
    color: $black-font;
    margin: 0;

    h1,
    h2,
    h3,
    .h3 {
        font-family: $butler-ul;
        font-weight: 500;
        line-height: 1.2;
        font-size: 3.2rem;
        margin: 0 0 3.2rem;
    }
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: $red-orange;
}

button {
    font-family: $montserat;
}


.massage-btn {
    border: $red-orange 3px solid;
    border-radius: 3px;
    padding: 6px 12px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: inherit;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;

    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    @include letterSpace();

    &:hover,
    :active {
        background-color: $red-orange;
        color: $white-bg;

        -webkit-box-shadow: 5px 5px 10px $black-font;
        box-shadow: 5px 5px 10px $black-font;
    }

    &:focus {
        box-shadow: none;
    }
}



/* Media Queries */

