$brown-bright: #DBCFBF;
$green-bright: #CECDAE;
$white-bg: #F9F5EC;
$black-font: #262626;
$red-orange: #AB6B4F;
$red-button: #994d2d;
$green: #777657;
$space: 100px;
$sm: 480px;
$md: 768px;
$lg: 1000px;
$xl: 1280px;


